body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    width: 100vw;
    max-width: 100%;
}
p{
    margin: 0;
    padding: 0;
}
.header{
    max-width: 100vw;
    height: 4em;
    border-bottom: 1px solid black;
    padding: 1em;
}
.headerContent{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
}
#addBookButton{
    height: 4em;
    background-color: rgba(137, 43, 226, 0.65);  
    border: none;
    border-radius: 10px;
    padding: 1em 1.3em;
    align-items: flex-end;
}
#modal{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);
    animation: fadeIn 1s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.bookForm{
    display: grid;
    background-color: white;
    width: 20em;
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 1.5em;
}
.readContainer{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    text-align: start;
}
.bookForm input[type=text], .bookForm input[type=number]{
    margin-top: .5em;
    margin-bottom: 1em;
    padding: 1em;
}
.readContainer{
    padding: 1em;
}
#bookSubmit{
    padding: 1em;
    border-radius: 10px;
    border-style: none;
    background-color: white; 
    font-size: 1em; 
}
#bookSubmit:hover{
    background-color: rgba(44, 115, 190, 0.53);
}
.content{
    margin: 1em 4em 0 4em;
}
#bookGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    margin: 3em 3em;
    gap: 30px;
}
.bookCell{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2em 1em;
    outline: 1px solid black;
    height: 200px;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.055);
}
.removeBook, .readToggle{
    padding: .5em 0em;
    border-radius: 10px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: .8em;
    width: 75%;
}
.removeBook:hover{
    background-color:  rgba(137, 43, 226, 0.65);
}
.readToggle:hover{
    background-color: cornflowerblue;
}